<div class="page-content admin-usr-page">

  <!-- header -->
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-6 none-padding">
        <h1 class="page-title">Users</h1>
      </div>
      <div class="col-6 none-padding text-right">
        <button (click)="onCreate()" class="dnm-btn dnm-btn-primary text-uppercase add-entity-btn" type="button">
          <span>Add New User</span>
          <i class="icon-relative add-users-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid none-padding">
    <div class="dnm-tabset">
     <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="tabId">
        <li [ngbNavItem]="'tab-0'" *ngIf="accessPermission.canManageUsers">
          <a ngbNavLink>
            <span class="d-flex text-uppercase">
              <i class="tab-icon dnm-icon-userprofiles"></i>Users List
            </span>
          </a>
          <ng-template ngbNavContent>
            <global-users></global-users>
          </ng-template>
        </li>
        <li [ngbNavItem]="'tab-1'" *ngIf="accessPermission.canManageRoles">
          <a ngbNavLink>
            <span class="d-flex text-uppercase">
              <i class="tab-icon dnm-icon-users"></i>Roles
            </span>
          </a>
          <ng-template ngbNavContent>
            <global-roles></global-roles>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
