<div class="page-content splr-trfs-wrp">
  <div class="container-fluid none-padding">
    <div class="row header-row">
      <div class="col">
        <div class="d-flex align-items-center justify-content-between">
          <h1 class="page-title">Manage Supplier details</h1>
          <back-button [redirectPath]="redirectPath"></back-button>
        </div>
      </div>
    </div>
  </div>
  <div class="dnm-tabset">
   <ul ngbNav #nav="ngbNav" (navChange)="onBeforeTabChange($event)" [(activeId)]="tabId" class="nav-tabs">
      <li [ngbNavItem]="'tab-0'">
        <a ngbNavLink>
          <i class="tab-icon dnm-icon-splrs-dtls"></i>
          <span class="tab-name text-uppercase">Supplier details</span>
        </a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
      <li [ngbNavItem]="'tab-1'">
        <a ngbNavLink>
          <i class="tab-icon dnm-icon-splrs-ctgrs"></i>
          <span class="tab-name text-uppercase">Tariff Settings</span>
        </a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
      <li [ngbNavItem]="'tab-2'">
        <a ngbNavLink>
          <i class="tab-icon dnm-icon-splrs-trfs"></i>
          <span class="tab-name text-uppercase client-tab-name">Tariffs</span>
        </a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
  <router-outlet></router-outlet>
</div>
